#d1{
    border-top: 3px dashed skyblue;
    border-bottom: 5px solid orangered;
    border-right: 5px dashed goldenrod;
    border-left: 4px solid blue;
}
#d2{
    border-top: 5px solid yellowgreen;
    border-bottom: 2px dashed orange;
    border-right: 4px dashed white;
    border-left: 3px solid black;
}
#d3{
    border-top: 4px dashed salmon;
    border-bottom: 1px dashed indianred;
    border-right: 3px dashed darkcyan;
    border-left: 6px dashed darkorange;
}