h2{
    text-align: center;
}
#principal{
    background-color: rgb(255, 213, 105);
    color: rgb(117, 101, 101);
    margin: 0 40%;
    padding: 10px 10px;
    text-align: justify;
}
img{
    padding: 0 40px;
}

